#
# $Id$
# Configuration for SIPit early media tests
#
# 2011-10-25 OEJ added early menu
#
# This a very basic config file w aliases and anamed route but
# w/o authentication, accounting, database, multi-domain support etc.
# Please refer to sip-router.cfg for a more complete example
#

# ----------- global configuration parameters ------------------------

debug=2         # debug level (cmd line: -dddddddddd)
#memdbg=10 # memory debug message level
#memlog=10 # memory statistics log level
#log_facility=LOG_LOCAL0 # sets the facility used for logging (see syslog(3))

fork=yes
log_stderror=no

check_via=no    # (cmd. line: -v)
dns=no          # (cmd. line: -r)
rev_dns=no      # (cmd. line: -R)
#port=5060
children=2
#user=sip-router
#group=sip-router
#disable_core=yes #disables core dumping
#open_fd_limit=1024 # sets the open file descriptors limit
#mhomed=yes  # usefull for multihomed hosts, small performance penalty
#disable_tcp=yes 
#tcp_accept_aliases=yes # accepts the tcp alias via option (see NEWS)

#
listen=132.177.252.28

alias=early.test.sipit.net

# ------------------ module loading ----------------------------------
loadpath "/usr/local/lib/kamailio/modules:/usr/local/lib/kamailio/modules_k"

loadmodule "pv"
loadmodule "rr"
loadmodule "textops"
loadmodule "maxfwd"
loadmodule "usrloc"
loadmodule "registrar"
loadmodule "tm"
loadmodule "sl"
loadmodule "ctl"
loadmodule "cfg_rpc"
loadmodule "tls"
loadmodule "xlog"


# ----------------- setting module-specific parameters ---------------

# -- usrloc params --

modparam("usrloc", "db_mode",   0)

# -- rr params --
# add value to ;lr param to make some broken UAs happy
modparam("rr", "enable_full_lr", 1)

# ctl params
# by default ctl listens on unixs:/tmp/sip-router_ctl if no other address is
# specified in modparams; this is also the default for sercmd
#modparam("ctl", "binrpc", "unixs:/tmp/sip-router_ctl")
# listen on the "standard" fifo for backward compatibility
#modparam("ctl", "fifo", "fifo:/tmp/sip-router_fifo")
# listen on tcp, localhost
#modparam("ctl", "binrpc", "tcp:localhost:2046")

# -------------------------  request routing logic -------------------

# main routing logic

route{
	# initial sanity checks -- messages with
	# max_forwards==0, or excessively long requests
	if (!mf_process_maxfwd_header("10")) {
		sl_send_reply("483","Too Many Hops");
		break;
	}
	if (msg:len >=  4096 ) {
		sl_send_reply("513", "Message too big");
		break;
	}

	if (method=="CANCEL") {
		if (!t_relay_cancel())
			sl_reply_error();
		break;
	}
	
	# we record-route all messages -- to make sure that
	# subsequent messages will go through our proxy; that's
	# particularly good if upstream and downstream entities
	# use different transport protocol
	if (!method=="REGISTER") record_route();

	# subsequent messages withing a dialog should take the
	# path determined by record-routing
	if (loose_route() || (method=="ACK"))  {
		# mark routing logic in request
		append_hf("P-hint: rr-enforced\r\n");
		route(FORWARD);
		break;
	}

	if (!uri==myself) {
		# mark routing logic in request
		append_hf("P-hint: outbound\r\n");
		route(FORWARD);
		break;
	}

	if ($rU=~"^delay") {
		t_set_fr("0","5000");
		t_on_failure("F_DELAYED");
		rewritehostport("127.0.0.1:9");
		route(FORWARD);
		break;
	}

	if ($rU== "1") {
		rewriteuri("sip:early1@132.177.252.20");
		route(FORWARD);
		break;
	}

	if ($rU== "2") {
		rewriteuri("sip:early2_1@132.177.252.20");
		append_branch("sip:delay2@132.177.252.28");
		route(FORWARD);
		break;
	}

	if ($rU== "3") {
		rewriteuri("sip:early3@132.177.252.20");
		route(FORWARD);
		break;
	}

	if ($rU== "4") {
		rewriteuri("sip:early4_1@132.177.252.20");
		append_branch("sip:delay4@132.177.252.28");
		route(FORWARD);
		break;
	}

	if ($rU== "5") {
		rewriteuri("sip:early5_1@132.177.252.20");
		append_branch("sip:early5_2@132.177.252.20");
		route(FORWARD);
		break;
	}

	if ($rU== "6") {
		rewriteuri("sip:earlydtmf@132.177.252.20");
		append_branch("sip:earlydtmf@132.177.252.20");
		route(FORWARD);
		break;
	}

	# if the request is for other domain use UsrLoc
	# (in case, it does not work, use the following command
	# with proper names and addresses in it)
	if (uri==myself) {

		if (method=="REGISTER") {
			save("location");
			break;
		}

		# native SIP destinations are handled using our USRLOC DB
		if (!lookup("location")) {
			sl_send_reply("404", "Not Found");
			break;
		}
		append_hf("P-hint: usrloc applied\r\n");
	}
	route(FORWARD);
}

route[FORWARD]
{
	# send it out now; use stateful forwarding as it works reliably
	# even for UDP2TCP
	if (!t_relay()) {
		sl_reply_error();
	}
}

failure_route[F_DELAYED]
{
	if (!t_is_canceled()) {
		if ($rU=="delay2") {
			t_drop_replies();
			append_branch("sip:early2_2@132.177.252.20");
			route(FORWARD);
		}
		if ($rU=="delay4") {
			t_drop_replies();
			append_branch("sip:early4_2@132.177.252.20");
			route(FORWARD);
		}
	} else {
		t_drop_replies();
	}
}

